.card {
  position: relative;
  color: $grey-dark;
  &.medium {
    //override medium card height.
    height: 400px;
    margin: 10px;
    box-shadow: none;
    border: solid 1px $border-grey;
  }

  .card-image {
    height: 55%;
    img {
      height: 100%;
      width: auto;
      transform: translateX(-15%);
    }
  }

  .card-content {
    padding: 25px 25px 25px 35px;
    font-weight: 500;
  }
  p {
    font-size: $font-m;
  }
  .purpose {
    position: absolute;
    left: 15px;
    top: 20px;
    background: $brand-white;
    font-size: $font-s;
    font-weight: 700;
    color: $grey-light;
    padding: 5px 10px;
    border: 2px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
  }

  .address {
    font-size: $font-s;
    display: block;
    color: $grey-light;
    margin-top: 10px;
    font-style: normal;
  }

  .card-action {
    border-top: 0;

    .area {
      color: $grey-darker;
      font-size: $font-m;
      position: relative;
      padding-right: 0;
      .spacer {
        display: inline-block;
        position: relative;
        border-left: solid 1px $grey-light;
        margin: 0 10px;
      }
      span {
        white-space: nowrap;
      }
    }

    .price {
      font-size: $font-m;
      color: $grey-darkest;
      font-weight: bold;
      padding-right: 0;
    }
  }
}